/* Dise침o base */
:root {
    --font-size-base: 18px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    font-family: Helvetica;
    font-size: var(--font-size-base);
}

form {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

button[type="submit"] {
    padding: 10px;
    margin: 15px 0;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.centered {
    text-align: center;
    margin-top: 1em;
    line-height: 1.5;
}

nav {
    display: flex;
    gap: 20px;
    padding: 10px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

ul {
    border: 1px solid white;
    border-radius: 4px;
    padding: 20px;
}

li {
    list-style: none;
}

.warning {
    background: #ffcc00;
    color: black;
    padding: 10px;
    border-radius: 4px;
}

/* Media queries para dise침o responsive */
@media (max-width: 768px) {
    :root {
        --font-size-base: 16px;
    }

    nav {
        gap: 10px;
        text-align: center;
    }

    form {
        width: 90%;
        /* Ajusta el ancho para que no se salga de la pantalla */
        max-width: 300px;
        /* Limita el ancho m치ximo */
        padding: 10px;
    }

    main {
        padding: 10px;
    }

    .warning {
        width: 90%;
        /* Ajusta el ancho */
        max-width: 300px;
        /* Limita el ancho m치ximo */
        text-align: center;
        /* Centra el texto */
    }
}

@media (max-width: 480px) {
    :root {
        --font-size-base: 14px;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"],
    button[type="submit"] {
        font-size: var(--font-size-base);
        padding: 8px;
    }

    nav {
        font-size: var(--font-size-base);
    }

    form {
        width: 100%;
        /* Ocupa todo el ancho disponible */
        padding: 10px;
    }

    .warning {
        width: 100%;
        /* Ocupa todo el ancho disponible */
        padding: 8px;
        /* Ajusta el padding */
        text-align: center;
        /* Centra el texto */
    }
}