*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: black;
    color: white;
    font-family: Helvetica;
}

form{
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: auto;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

button[type="submit"] {
    padding: 10px;
    margin: 15px 0;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.centered {
    text-align: center;
    margin-top: 1em;
    line-height: 1.5;
}

nav{
    display: flex;
    gap: 20px;
    padding: 10px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}